<h2>Article create</h2>

<a routerLink="/main">Go back</a>

<hr />

<form [formGroup]="articleCreateForm" (submit)="onSubmit()">
  <div>
    <label for="header">Header:</label>
    <input type="text" id="header" name="header" formControlName="header">
    <p *ngIf="articleCreateForm.get('header').invalid && articleCreateForm.get('header').touched">Header is invalid</p>
  </div>

  <div>
    <label for="body">Body:</label>
    <input type="body" id="body" name="body" formControlName="body">
    <p *ngIf="articleCreateForm.get('body').invalid && articleCreateForm.get('body').touched">Body is invalid</p>
  </div>

  <div>
    <label for="tag">Tag:</label>
    <input type="tag" id="tag" name="tag" formControlName="tag">
  </div>

  <div>
    <button type="submit" [disabled]="articleCreateForm.invalid">Submit</button>
  </div>
</form>
